<%= provide(:title, 'Pagina niet gevonden') %>

<div class="jumbotron center">
<h1>Pagina niet gevonden</h1>
<p>
	<center>
		De pagina die u probeert te bezoeken bestaat niet.<br /><br />
	<a href="/" class="btn btn-primary btn-large">Keer terug naar de homepage.</a>
	</center>
</p>
</div>